<h1>Cadastrar Usuario</h1>

<form (ngSubmit)="submit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="">Nome: </label>
      <input type="text" formControlName="nome" placeholder="insira o nome" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label for="">Sobrenome: </label>
      <input type="text" formControlName="sobrenome" placeholder="insira o sobrenome" class="form-control" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="">E-mail: </label>
      <input type="text" formControlName="email" placeholder="insira o email" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label for="">Data de nascimento: </label>
      <input type="date" formControlName="dataNascimento" placeholder="insira o data de nascimento" class="form-control" required>
    </div>
  </div>



  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input_box">
        <label for="">Escolaridade: </label>
        <select id="escolaridade" type="text" formControlName="escolaridade" class="form-control" required>
          <option value="1">Infantil</option>
          <option value="2">Fundamental</option>
          <option value="3">Médio </option>
          <option value="4">Superior</option>
        </select>
      </div>
    </div>
  </div>

  <div class="btn-box">
    <button type="submit" [disabled]="!usuarioForm.valid" class="btn btn-primary">Cadastrar</button>
    <button routerLink="/usuario" class="btn btn-primary">Voltar</button>
  </div>

</form>
