<mat-card>

  <div class="usuario-box">
    <button routerLink="/usuario/cadastro" mat-raised-button color="primary">Cadastrar novo Usuario</button>
    <div class="input-box">
      <mat-form-field>
        <mat-label>Procurar:</mat-label>
        <input matInput type="text" placeholder="Pesquisa por nome?" (input)="search($event)">
      </mat-form-field>
    </div>
  </div>


  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>DataNascimento</th>
        <th>Escolaridade</th>
        <th>Açoes</th>
      </tr>
    </thead>
    <tbody *ngFor="let Usuario of usuarios">
      <tr>
        <td>{{Usuario.Nome}}</td>
        <td>{{Usuario.Sobrenome}}</td>
        <td>{{Usuario.Email}}</td>
        <td>{{Usuario.DataNascimento}}</td>
        <td>{{Usuario.Escolaridade}}</td>
        <td>
          <button routerLink="/usuario/editar">Editar</button>
        </td>
        <td>
          <button>Excluir</button>
        </td>

       

      </tr>
    </tbody>
  </table>
</mat-card>
